.ValenceInput {
  text-align: center;
  font-size: 1.5rem;
  height: 3rem;
  margin: 1rem;
  width: 50%;
}

.ValenceButton {
  background-color: #20C1BF;
  padding: 1.5rem 8rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
  border: 10px;
}

.ValenceButton:hover {
  transform: scale(1.1);
}

.Error {
  width: 20%;
  color: red;
  margin: auto;
}